/* Main container style */
.show_questions_cont {
  background-color: #1a202c;
  color: #e2e8f0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 30px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container height */
  height: 100vh; /* Set the height to 100% of the viewport height */
}

/* Quiz and result section styles */
.quiz-container,
.result {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Question text style */
.questionQ {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fbd38d;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Option styles */
.options label {
  display: flex;
  align-items: center;
  background-color: #2d3748;
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 400;
  color: #a0aec0;
}

/* Option active and hover state styles */
.options label.active,
.options label:hover {
  background-color: #4a5568;
  color: #ecc94b;
}

/* Custom radio button style */
.options input[type="radio"] {
  margin-right: 10px;
  accent-color: #f6ad55;
}

/* Submit button style */
.submit-btn {
  background-color: #3182ce;
  border: none;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: inline-block;
  width: auto;
  color: #ffffff;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.submit-btn:hover {
  background-color: #2b6cb0;
}

/* Correct answer highlight style */
.highlight-correct {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold !important;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .show_questions_cont,
  .submitAnswers {
    padding: 1.5rem;
    margin: 20px auto;
  }

  .options label {
    padding: 10px;
  }

  .nav-bar-container ul {
    padding: 0;
    margin: 0 auto;
  }
}

/* Add this to ensure the container height is not exceeding the viewport height */
@media (max-height: 80vh) {
  .show_questions_cont {
    height: auto; /* Set the height to auto if it exceeds the maximum height */
  }
}

.correct_answer_box {
  background-color: #4caf50 !important;
  color: black !important;
}

.wrong_answer_box {
  background-color: #f74b4b !important;
  color: black !important;
}
