/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
  background-image: linear-gradient(
    to bottom,
    #46237a 50%,
    #000 200%
  ); /* Adjust gradient colors and stops as needed */
  background-attachment: fixed;
  font-family: "Inter", sanss-serif;
  height: 100%;
  margin: 0;
  color: white;
}

#addGameForm input {
  color: white !important;
}

.question_container {
  display: flex;
  justify-content: center;
}

#addGameForm input[type="text"]:focus {
  border-bottom-color: #8749e4 !important; /* Change border color on focus */
  box-shadow: 0 1px 0 0 #8749e4 !important; /* Change box shadow on focus */
}

.select-wrapper ul.dropdown-content.select-dropdown li span {
  background-color: #150a24; /* Change to the desired background color */
  color: #fff; /* Change to the desired text color */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

#addGameForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3); /* Blue header background */
  margin: 100px;
  padding: 200px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.question > h3 {
  padding: 20px;
  padding-left: 0px;
}

.questions * {
  padding: 10px;
  color: red;
}

.btn.add-game {
  background-color: #a2999e;
  width: fit-content;
  text-transform: none;
  font-size: 18px;
}

.btn.add-question {
  background-color: #a2999e;
  width: fit-content;
  text-transform: none;
  font-size: 18px;
}

/* Modal styling */

/* Customize modal background */
.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  margin-top: 250px;
  height: 40%;
  width: 40%;
}

/* Customize modal content */

.modal-content {
  max-width: 500px; /* Adjust as needed */
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #46237a 50%,
    #000 200%
  ); /* Adjust gradient colors and stops as needed */
  border-radius: 10px; /* Rounded corners */
}

/* Customize modal header */
.modal-header {
  background-color: rgba(0, 0, 0, 0.5); /* Blue header background */
  border-bottom: none;
  justify-content: center;
}

/* Customize modal body */
.modal-body {
  padding: 20px; /* Add padding */
  text-align: center;
}

#myModal {
  display: none; /* Hide the modal completely */
}

/* Customize modal footer */
#myModal .modal-footer {
  background-color: rgba(0, 0, 0, 0.5); /* Light gray background */
  border-top: none; /* Remove border from top */
  align-items: space-between;
}

#urlDisplay {
  color: #fff;
  width: 30%;
  display: flex;
  align-items: center;
}

/* Customize modal title */
.modal-title {
  font-size: 24px; /* Larger font size */
  text-align: center;
}

/* Customize close button */
.close {
  color: #fff; /* White close button color */
  font-size: 28px; /* Larger font size */
}

/* Customize buttons */
#closeButton {
  margin-right: 10px;
  background-color: #a2999e;
}
#copyButton {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a2999e;
}
/* Customize button hover */
.btn:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}

/* Nav Bar */
.nav-bar-container {
  display: flex;
  background-color: #321957;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  flex-grow: 5;
  padding-left: 10px;
  justify-content: center;
}

#myTab {
  display: flex;
  justify-content: space-between;
}

.nav-tabs {
  border: none; /* Remove the border */
}

.nav-link {
  color: white;
}

.nav-tabs .nav-link.active {
  background-color: transparent; /* Remove background color */
  color: #fff; /* Set text color to white or any other color */
  border-color: transparent; /* Remove border */
}

.nav-tabs .nav-link:hover {
  color: #8749e4; /* Set text color to white or any other color */
  border-color: transparent; /* Remove border */
}
