/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    #46237a 50%,
    #000 200%
  ); /* Adjust gradient colors and stops as needed */
  display: flex;
  font-family: "Inter", sanss-serif;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-box > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > img {
  padding-bottom: 20px;
}

.form-box form input {
  color: white;
}

.form-box form input,
form a {
  margin-bottom: 10px; /* Add margin below each input field */
  margin-top: 10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  color: white;
  padding: 20px;
  background-color: #000f08;
  border-radius: 5px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Material UI */
.btn {
  background-color: #a2999e;
  width: fit-content;
  text-transform: none;
  font-size: 18px;
}

.btn:hover {
  background-color: #7a7477;
}

input::placeholder {
  text-align: center;
  font-family: "Inter", sanss-serif;
}

input[type="text"],
.btn {
  width: 200px;
}

/* label underline focus color */
/* icon prefix focus color */

/*.input-field input[type=text]:focus {*/
.form-box input[type="text"]:focus {
  border-bottom-color: #8749e4 !important; /* Change border color on focus */
  box-shadow: 0 1px 0 0 #8749e4 !important; /* Change box shadow on focus */
}

/* Nav Bar */

.nav-bar-container {
  display: flex;
  background-color: #321957;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  flex-grow: 5;
  padding-left: 10px;
  justify-content: center;
}

#myTab {
  display: flex;
  justify-content: space-between;
}

.nav-tabs {
  border: none; /* Remove the border */
}

.nav-link {
  color: white;
}

.nav-tabs .nav-link.active {
  background-color: transparent; /* Remove background color */
  color: #fff; /* Set text color to white or any other color */
  border-color: transparent; /* Remove border */
}

.nav-tabs .nav-link:hover {
  color: #8749e4; /* Set text color to white or any other color */
  border-color: transparent; /* Remove border */
}
